/*
Name    = GoSh Night
Author  = CryptisMidnight
*/

 /*                              
 ===============================
 |          Imports            |
 ===============================
 */

/* Main Import | --> Don't delete this <-- */
@import "https://misspent.github.io/Darkened/BetterDiscord/main.css";

/* Add a "/" on the left side of the first Quotation mark to cancel out the import */
@import "https://crearts-community.github.io/Mention-Links/theme.css"; /* Mention Links */
@import "https://lyght1337.github.io/DarknessCodeBlocks/css/CodeBlocks.css"; /* Codeblocks */
@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css"; /* Scrollbars */
@import "https://misspent.github.io/Darkened/BetterDiscord/ChannelIcons.css"; /* Channel Icons */
@import "https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"; /* Radial Status */
/*@import "https://misspent.github.io/Darkened/BetterDiscord/DarkenedCompact.css"; /* Compact Import | Collapses friends list */
@import "https://misspent.github.io/Darkened/BetterDiscord/SeparatedChatBar.css"; /* SeparatedChatBar */
@import "https://misspent.github.io/Darkened/BetterDiscord/ContextIconColours.css"; /* ContextIconsColours */
@import "https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css"; /* Better Crashes - Disease | Indicating which plugins are currently causing commits. */
@import "https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css"; /* Horizontal Server List*/
/*@import "https://discordstyles.github.io/Addons/bottomhsl.css"; /* Bottom Horizontal Server List. Simply remove the "/" to enable it (Only works when Import above is enabled) */

/*                              
===============================
|          Variable           |
===============================
*/

:root {
  /* Colors */
  /* With 75% 0pacity */
  --clr01: #252525c0;
  --clr02: #f52040c0;
  --clr03: #91f779c0;
  --clr04: #fba753c0;
  --clr05: #2040f5c0;
  --clr06: #a13ef7c0;
  --clr07: #00bfffc0;
  --clr08: #b5b5b5c0;
  --clr09: #3a3a3ac0;
  --clr10: #f87eaac0;
  --clr11: #00e687c0;
  --clr12: #f6e13cc0;
  --clr13: #8172ffc0;
  --clr14: #ff3cebc0;
  --clr15: #0cdaffc0;
  --clr16: #e0e0e0c0;
  --clr17: #a5a5a5c0;
  --clr18: #050505c0;
  --clr19: #101010c0;
  --clr20: #050505;
  /* main Images */
  --bgd-img: url('https://i.pinimg.com/originals/88/d7/9e/88d79ecf8069585d6e1b95a5805098df.jpg');  /* Background Image also try https://cdn.wallpapersafari.com/29/54/DScYIg.jpg*/
  --Home-Image-Icon: url('https://raw.githubusercontent.com/CryptisMidnight/GoSh-Night/main/images/webp/zombie_discord.webp'); /* the DM discord Icon */
  /* Gradients */
  --grd01: linear-gradient(90deg, var(--clr18) 15%, transparent 50%, var(--clr18) 85%), linear-gradient(180deg, var(--clr18) 15%, transparent 50%, var(--clr18) 85%);
  --grd02: linear-gradient(180deg, var(--clr18) 15%, var(--clr02) 50%, var(--clr04) 85%);
  --grd03: linear-gradient(0deg, var(--clr09), var(--clr18), transparent);
  --grd04: linear-gradient(90deg, var(--clr01) 15%, var(--clr03), var(--clr07), transparent 85%);
  --grd05: linear-gradient(90deg, var(--clr20) 10%, transparent, var(--clr20) 90%), linear-gradient(0deg, var(--clr18) 10%, transparent 50%, var(--clr18) 90%);
  --grd06: linear-gradient(90deg, var(--clr03), var(--clr11) 50%,var(--clr07), var(--clr15));
    /* Misc */
  --codeblockbackground: url(https://lyght1337.github.io/DarknessCodeBlocks/Codeblocksvg/code.svg);
  --Titlebar: flex; /* flex = ON, none = OFF */
  --brand-experiment: var(--clr02); /* Most often the button color*/
  --brand-experiment-560: var(--clr04); /* default hover color */
  --button-danger-background: var(--clr02);
  --button-danger-background-hover: var(--clr06);
  --button-outline-danger-border: var(--clr02);
  --button-outline-danger-background-hover: var(--clr06);
  --button-outline-danger-border-hover: var(--clr06);
  --text-positive: var(var(--clr03));


  /* Radial Status (modifiable!) */
  --rs-small-spacing: 0.1em; /* Gap between avatar and status for members list/dms */
  --rs-medium-spacing: 0.1em; /* Gap between avatar and status for User popout */
  --rs-large-spacing: 0.1em; /* Gap between avatar and status for User profiles */
  --rs-small-width: 0.15em; /* Thickness of status border for members list/dms */
  --rs-medium-width: 0.2em; /* Thickness of status border for User popout */
  --rs-large-width: 0.2em; /* Thickness of status border for User profile */
  --rs-avatar-shape: 30%; /* 50% for round - 0% for square */ 
  --avatar-radius: 30%; /* 50% for round - 0% for square */
  --rs-online-color: var(--clr03); /* Colour for online status */
  --rs-idle-color: var(--clr12); /* Colour for idle status */
  --rs-dnd-color: var(--clr02); /* Colour for dnd status */
  --rs-offline-color: var(--clr09); /* Colour for offline status */
  --rs-streaming-color: var(--clr06); /* Colour for streaming status */
  --rs-invisible-color: var(--clr08); /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--clr11); /* Colour of the ring and phone icon when a user is on their phone |  */  
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  /* Server List adjustment*/
  --server-radius: 1.1em;
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 2.5em));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 0.5em));
  --server-container: calc(var(--server-size) + 1em);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
  /* Menu icons in settings*/
  --settingsicons-armthemes: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/themes.svg');
	--settingsicons-armcord: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/apps.svg');
  --settingsicons-vencord: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/apps.svg');
  --settingsicons-venplugs: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/plugins.svg');
	--settingsicons-venthemes: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/themes.svg');
  --settingsicons-vencloud: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Cloud-upload_%28CoreUI_Icons_v1.0.0%29.svg');
	--settingsicons-venbackup: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/library.svg');
  --settingsicons-actpriv: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/activityprivacy.svg');
	
}

.theme-dark {
  --background-tertiary: var(--clr18);
  --background-secondary: var(--clr19);
  --background-secondary-alt: var(--clr19);
  --background-primary: var(--clr18);
  --background-mobile-primary: var(--clr01);
  --background-mobile-secondary: var(--clr01);
  --channeltextarea-background: var(--clr19); /* Main window text bar + reply bar background */
  --background-accent: var(--clr02);
  --divider-color: var(--clr02);
  --background-message-hover: transparent;
  --background-modifier-hover: var(--clr01);
  --background-modifier-active: var(--clr01);
  --background-modifier-selected: var(--clr01);
  --deprecated-card-bg: var(--clr01);
  --background-floating: var(--clr18);
  --deprecated-quickswitcher-input-background: var(--clr17);
  --elevation-low: none;
  --scrollbar-auto-thumb: var(--clr19);
  --scrollbar-auto-track: var(--clr19);
  --scrollbar-thin-thumb: var(--clr19);
  --activity-card-background: var(--clr19);
  --border-color: var(--clr19);
  --popout-title: var(--clr18);
  --popout-background-main: var(--clr18);
  --jump-newmessage-bars-buttons: var(--clr19);
  --jump-newmessage-bars: var(--clr19);
  --Emoji-Menu: var(--clr18);
}

@keyframes radc {
  12% {border-radius: 20%;}
  25% {border-radius: 10% 35% 50% 35%;}
  37% {border-radius: 20%;}
  50% {border-radius: 35% 10% 35% 50%;}
  62% {border-radius: 20%;}
  75% {border-radius: 50% 35% 10% 35%;}
  87% {border-radius: 20%;}
}
@keyframes bkcc {
  25% {background-color: var(--clr04);}
  50% {background-color: var(--clr03);}
  75% {background-color: var(--clr06);}
}
@keyframes bdrc {
  25% {border-color: var(--clr04);}
  50% {border-color: var(--clr03);}
  75% {border-color: var(--clr06);}
}

@keyframes clrc {
  16% { color: var(--clr02);}
  33% { color: var(--clr04);}
  50% { color: var(--clr03);}
  66% { color: var(--clr07);}
  83% { color: var(--clr05);}
}

 /*Theme base transparenties */
body, 
#app-mount, 
#app-mount .app-3xd6d0, 
#app-mount .app-2CXKsg, 
#app-mount .container-2RRFHK.fixClipping-3GOd_d, 
#app-mount .wrapper-3AZUiP, 
#app-mount .bg-1QIAus, 
#app-mount .layer-86YKbF, 
#app-mount .container-1NXEtd, 
#app-mount .privateChannels-oVe7HL, 
#app-mount .panels-3wFtMD > *, 
#app-mount .chat-2ZfjoI, 
#app-mount .wrapper-3HVHpV, 
#app-mount .noChat-sb1z07, 
#app-mount .members-3WRCEx, 
#app-mount .members-3WRCEx > div, 
#app-mount .container-2cd8Mz, 
#app-mount .applicationStore-2nk7Lo, 
#app-mount .pageWrapper-2PwDoS, 
#app-mount .scrollerBase-_bVAAt, 
#app-mount .standardSidebarView-E9Pc3j, 
#app-mount .contentRegion-3HkfJJ {
	background-color: transparent;
}
#app-mount .children-3xh0VB:after {
	display: none;
}
#app-mount .wrapper-1_HaEi {
	background-color: var(--clr18);
} 
#app-mount .sidebarRegion-1VBisG, 
#app-mount .sidebar-1tnWFu, 
#app-mount .panels-3wFtMD, 
#app-mount .membersWrap-3NUR2t, 
#app-mount .nowPlayingColumn-1eCBCN {
	background-color: var(--clr18);
}
#app-mount .container-ZMc96U.themed-Hp1KC_ {
  background-color: color-mix(in srgb, var(--clr20) 93.5%, transparent);
}
.appMount-2yBXZl {
  background: var(--bgd-img) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.none-1rXy4P.scrollerBase-1Pkza4 {
  background-color: transparent;
}
.profilePanel-2PWEok .userPanelInnerThemed-2xZFjl, .userPanelInnerThemed-3YO1BB {
  background: transparent;
  border-left: 0.1em solid transparent;
  border-image: var(--grd02) 1;
}

/* Setting Icon fixes for Armcord */
.themed-qqoYp3.item-2GWPIy#themes::before {
  -webkit-mask: var(--settingsicons-armthemes) center/contain no-repeat;
  mask: var(--settingsicons-armthemes) center/contain no-repeat;
  color: var(--clr14);
}
.themed-qqoYp3.item-2GWPIy#armcord::before {
  -webkit-mask: var(--settingsicons-armcord) center/contain no-repeat;
  mask: var(--settingsicons-armcord) center/contain no-repeat;
  color: var(--clr13);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i])
.item-2GWPIy:nth-child(31)::before, 
.platform-win .sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(32)::before, 
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="overlay-tab" i]::before {
  -webkit-mask: var(--settingsicons-vencord) center/contain no-repeat;
  mask: var(--settingsicons-vencord) center/contain no-repeat;
  color: var(--clr02);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(32)::before,
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="plugins-tab" i]::before {
  -webkit-mask: var(--settingsicons-venplugs) center/contain no-repeat;
  mask: var(--settingsicons-venplugs) center/contain no-repeat;
  color: var(--clr04);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(33)::before,
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="plugins-tab" i]::before {
  -webkit-mask: var(--settingsicons-venthemes) center/contain no-repeat;
  mask: var(--settingsicons-venthemes) center/contain no-repeat;
  color: var(--clr14);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(34)::before,
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="plugins-tab" i]::before {
  -webkit-mask: var(--settingsicons-vencloud) center/contain no-repeat;
  mask: var(--settingsicons-vencloud) center/contain no-repeat;
  color: var(--clr05);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(35)::before,
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="plugins-tab" i]::before {
  -webkit-mask: var(--settingsicons-venbackup) center/contain no-repeat;
  mask: var(--settingsicons-venbackup) center/contain no-repeat;
  color: var(--clr05);
}
.sidebar-nqHbhN .side-1lrxIh:is([aria-label="Brugerindstillinger" i], [aria-label="Benutzereinstellungen" i], [aria-label="User Settings" i], [aria-label="Ajustes de usuario" i], [aria-label="Paramètres utilisateur" i], [aria-label="Korisničke postavke" i], [aria-label="Impostazioni utente" i], [aria-label="Naudotojo Nustatymai" i], [aria-label="Felhasználói beállítások" i], [aria-label="Gebruikersinstellingen" i], [aria-label="Brukerinnstillinger" i], [aria-label="Ustawienia użytkownika" i], [aria-label="Configurações de Usuário" i], [aria-label="Setări utilizator" i], [aria-label="Käyttäjäasetukset" i], [aria-label="Användarinställningar" i], [aria-label="Cài đặt người dùng" i], [aria-label="Kullanıcı Ayarları" i], [aria-label="Uživatelská nastavení" i], [aria-label="Ρυθμίσεις χρήστη" i], [aria-label="Потребителски настройки" i], [aria-label="Настройки пользователя" i], [aria-label="Користувацькі налаштування" i], [aria-label="यूज़र सेटिंग" i], [aria-label="ตั้งค่าผู้ใช้" i], [aria-label="用户设置" i], [aria-label="ユーザー設定" i], [aria-label="使用者設定" i], [aria-label="사용자 설정" i]) 
.item-2GWPIy:nth-child(38)::before,
#app-mount .sidebar-nqHbhN .side-1lrxIh .item-2GWPIy[aria-controls="plugins-tab" i]::before {
  -webkit-mask: var(--settingsicons-actpriv) center/contain no-repeat;
  mask: var(--settingsicons-actpriv) center/contain no-repeat;
  color: var(--clr13);
}
div#themes:after, div#armcord:after {
  margin-left: 0.5em;
}

/* Additional Setting changes and Extras */
:root .sidebarRegion-1VBisG::before {
  color: var(--clr02);
}
.theme-dark .closeButton-PCZcma:hover {
  border-color: var(--clr09);
  background-color: var(--clr02);
  border-radius: 0.7em;
}
.theme-dark .closeButton-PCZcma {
border-color: var(--clr17);
border-radius: 0.7em;
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N {
  animation: bkcc 18s infinite;
  background-image: var(--grd01);
  border: 0.1em solid var(--clr02);
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
  background-color: var(--clr18);
  border: 0.1em solid var(--clr02);
  animation: bdrc 20s infinite;
}
.removeButton-v6eolJ {
  background-color: var(--clr02) !important;
}
.avatarStack-3Bjmsl {
  display: grid;
  align-content: center;
  justify-content: start;
}
#app-mount .wrapper-3Un6-K foreignObject[mask*=mobile][width="32"] img {
    width: calc(100% - 0px);
}
#app-mount .wrapper-3Un6-K foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 0px);
}

/*                              
===============================
|          TitleBar           |
===============================
*/
.withFrame-haYltI {
  height: 1.25em !important;
  background-color: var(--clr02);
  animation: bkcc 18s infinite;
  background-image: var(--grd01);
}
[armcord-platform="linux"] .window-title, [armcord-platform="win32"] .window-title {
  content: var(--wordmark-svg);
  height: 0.7em;
  transform: translate(0.5em, 0.15em);
}
[armcord-platform="win32"] .titlebar #window-controls-container {
  float: right;
  width: 6em;
  height: 100%;
  line-height: 1.25em;
  -webkit-app-region: no-drag;
}
[customTitlebar] .base-2jDfDU {
  border-top-left-radius: 0 !important;
}
.searchBar-3TnChZ {
  border-radius: 0 !important;
}

/*                              
===============================
|          ServerLS           |
===============================
*/
.svg-2ifYOU, .wrapperSimple-2SFl9K, .wrapper-3Un6-K {
  border-radius: 35% 50% 35% 10%;
  animation: radc 6s infinite reverse;
}
.baseShapeRound-3epLEv, .actionButton-3-B2x- {
  border-radius: 35% 50% 35% 10%;
  animation: radc 6s infinite;
}

/*                              
===============================
|          MemberLS           |
===============================
*/
#vc-membercount {
  padding-bottom: 0.5em;
  z-index: 103;
  position: inherit;
  top: -0.75em;
}
.members-3WRCEx {
  margin-top: 1.5em;
}
:root .membersWrap-3NUR2t::before {
  margin-top: 0.25em;
  height: 0.75em;
  font-size: 1.15em;
  font-weight: bolder;
  color: var(--clr02);
}
:root .membersWrap-3NUR2t::after {
  height: 1.5em;
  background-image: var(--grd03);
  border-radius: 0 0 var(--rs-avatar-shape) var(--rs-avatar-shape);
}
.container-2o3qEW {
  border-left: 0.1em solid transparent;
  border-image: var(--grd02) 1;
}
.membersGroup-2eiWxl {
  background-color: var(--clr18);
  background-image: var(--grd03);
  border-top: 0.1em solid;
  /* border-bottom: 0.1em solid; */
  border-image: var(--grd04) 1;
}
.membersWrap-3NUR2t {
  height: 100%;
}
:is([class*="userProfile"], [class*="userPopout"]) [class*="bannerPremium"] {
  background-image: var(--grd05) !important;
}
.popoutBanner-3cqRD9 {
  background-image: var(--grd05);
}
.banner-1YaD3N {
  border-radius: 0em 0.5em 0em 0em;
}

/*                              
===============================
|          SideBar            |
===============================
*/
.sidebar-1tnWFu {
  border-right: 0.1em solid transparent;
  border-image: var(--grd02) 1;
}
.scroller-1ox3I2 {
border-right: 0em solid transparent;
background-color: var(--clr18);
}
.containerDefault-3TQ5YN, 
.containerDragAfter-1J_-1V, 
.containerDragBefore-ei4h1m, 
.containerUserOver-3woq86 {
  background-color: var(--clr18);
  background-image: var(--grd03);
  border-top: 0.1em solid;
  /* border-bottom: 0.1em solid; */
  border-image: var(--grd04) 1;
}
.primaryInfo-2ocY3v {
  color: var(--clr02);
}
.name-3Uvkvr{
  font-size: 1.15em;
  font-weight: bolder;
}
.sidebar-1tnWFu .wrapper-NhbLHG .unread-36eUEm {
  background-color: var(--clr02);
}
.sidebar-1tnWFu .wrapper-NhbLHG .unread-36eUEm + .content-1gYQeQ {
  background: var(--clr18);
}
.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg, 
.modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV {
  color: var(--clr06);
  animation: clrc 12s infinite
}
.sidebar-1tnWFu .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ {
  border-color: var(--clr14);
  background-color: var(--clr19);
}
.sidebar-1tnWFu .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ svg {
  color: var(--clr14);
}
.sidebar-1tnWFu .wrapper-NhbLHG.modeConnected-NrO4cP .content-1gYQeQ .channelName-3KPsGw {
  color: var(--clr14);
}
.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, 
.modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV {
  color: var(--clr06);
}
/* Other Channel lists = ToDo add hover effects and more
.modeConnected-NrO4cP .name-28HaxV, .modeConnected-NrO4cP:hover .name-28HaxV, 
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV */
.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc {
  color: var(--clr03);
}
.rtcConnectionStatusConnected-1c73OK {
  background-image: var(--grd06) !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
[aria-label="Disconnect"] {
  color: var(--clr02);
}
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
  background-color: var(--clr07) !important;
  border-radius: 0.5em !important;
  border: 0.1em solid var(--clr11);
}
.button-1EGGcP.buttonColor-3bP3fX:hover, .button-1EGGcP .buttonColor-3bP3fX:hover {
  background-color: var(--clr11) !important;
  border-radius: 0.5em !important;
  border: 0.15em solid var(--clr07);
}

/*                              
===============================
|           Center            |
===============================
*/
.form-3gdLxP {
  padding-left: 0.55em;
  padding-right: 0.7em;
}
.base-2jDfDU .channelTextArea-220_Gz, .base-2jDfDU .channelTextArea-1FufC0, .base-2jDfDU .scrollableContainer-15eg7h {
  background-color: var(--clr19);
  border: 0.1em solid var(--clr02);
  animation: bdrc 20s infinite;
  border-radius: 1em;
}
button.attachButton-_ACFSu.attachButton-1ijpt9.button-ejjZWC.lookBlank-FgPMy6.colorBrand-2M3O3N.grow-2T4nbg {
  position: relative;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.webkit-QgSAqd .buttons-uaqb-5 {
  margin-right: -0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.hljs.scrollbar-3vVt8d {
  border-radius: var(--server-radius);
}
.hljs::before {
  background-color: var(--clr04);
}
:root .divider-2rZFJK .content-3spvdd {
  background-color: var(--clr18);
}
.divider-2rZFJK {
  border-top: 0.13em solid transparent;
  border-image: var(--grd04) 1;
}
.content-3spvdd {
  color: var(--clr16);
}
.unreadPill-3nEWYM {
  border-radius: 0 1em 1em 0;
}

/*                              
===============================
|           Threads           |
===============================
*/
#app-mount .container-3XgAHv  {
  border-radius: 0em !important;
}